.icon-disk {
    background-image:url(../images/icons/disk.png) !important;}
.icon-delete {
    background-image:url(../images/icons/delete.png) !important;}
.icon-cancel {
    background-image:url(../images/icons/cancel.png) !important;}
.icon-zoom {
    background-image:url(../images/icons/zoom.png) !important;}
.icon-form-add {
    background-image:url(../images/icons/application_form_add.png) !important;}
.icon-page-go{
	background-image:url(../images/icons/page_go.png) !important;}
.icon-tab-infoGral{
	background-image:url(../images/icons/folder_page.png) !important;}
.icon-brick-edit{
	background-image:url(../images/icons/brick_edit.png) !important;}
.icon-resultset-first{
	background-image:url(../images/icons/resultset_first.png) !important;}
.icon-borrar {
	background-image:url(../images/Ico_Borrar.gif) !important;}
.icon-Date{
	background-image: url(../images/icons/date.png) !important;}
.icon-FormDelete{
	background-image: url(../images/icons/application_form_delete.png) !important;}
.icon_pencil{ 
	background-image:url(../images/icons/pencil_go.png) !important; }
.icon_user{ 
	background-image:url(../images/icons/user_go.png) !important; }
.icon_group{ 
	background-image:url(../images/icons/group_go.png) !important; }		
.icon_detail{ 
	background-image:url(../images/icons/folder_magnify.png) !important; }
.tabIcon{	
	background-image:url(../images/icons/folder_table.png) !important; }
.iconoCancelar{	
	background-image:url(../images/icons/cancel.png) !important; }
.iconoImprimir{	
	background-image:url(../images/icons/printer_add.png) !important; }
.iconoAdd{	
	background-image:url(../images/icons/add.png) !important; }
.email_go{	
	background-image:url(../images/icons/email_go.png) !important; }
.page_excel{	
	background-image:url(../images/icons/page_excel.png) !important; }
.iconoZoom{	
	background-image:url(../images/icons/zoom.png) !important; }
.iconoBorrar{	
	background-image:url(../images/icons/delete.png) !important; }
.iconoAccept{	
	background-image:url(../images/icons/accept.png) !important; }
.iconoPageWhiteGo{	
	background-image:url(../images/icons/page_white_go.png) !important; }
.iconoDetalle{
	background-image:url(../images/icons/application_view_detail.png) !important;	}
.iconoPDF{	
	background-image: url(../images/icons/page_white_acrobat.png) !important;	}
.menuPrincipal{	
	background-image: url(../images/icons/text_list_bullets.png) !important;	}
.iconoExcel{	
	background-image: url(../images/icons/page_excel.png) !important;	}
	
