/*Inicio de droparea*/
header:before,
#dropbox{
	position: relative;
	min-height: 130px;
	overflow: hidden;
	height:170px;
}
#dropbox .message{
	font-size: 11px;
    text-align: center;
    display: block;
}
#dropbox .message i{
	color:#ccc;
	font-size:10px;
}
#dropbox:before{
	border-radius:3px 3px 0 0;
}
#dropbox .preview{
	width:125px;
	height: 100px;
	float:left;
	margin: 25px 20px 25px 70px;
	position: relative;
	text-align: center;
}
#dropbox .preview img{
	max-width: 120px;
	max-height:90px;
	border:3px solid #fff;
	display: block;

	box-shadow:0 0 2px #000;
}
#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}
#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat top right;
	display: none;
}
#dropbox .preview.done .uploaded{
	display: block;
}
#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	top:105px;
	box-shadow:0 0 2px #000;
}
#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;

	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}
#dropbox .preview.done .progress{
	width:100% !important;
}
.upload-center {
    width: 280px;
    font-size: 8em;
    position: relative;
    top: -20px;
    color: #33b5e5;
}
