<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>epi</display-name>
  <servlet>
    <servlet-name>AdministradorContenidosServlet</servlet-name>
    <servlet-class>gob.sct.medprev.cntmgr.placas.AdministradorContenidosServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdministradorContenidosServletAvatar</servlet-name>
    <servlet-class>gob.sct.medprev.cntmgr.placas.AdministradorContenidosServletAvatar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdministradorContenidosServletServicios</servlet-name>
    <servlet-class>gob.sct.medprev.cntmgr.placas.AdministradorContenidosServletServicios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdministradorContenidosServletVoucher</servlet-name>
    <servlet-class>gob.sct.medprev.cntmgr.placas.AdministradorContenidosServletVoucher</servlet-class>
  </servlet>
  <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>BajarArchivoCMServlet</servlet-name>
    <servlet-class>gob.sct.medprev.cntmgr.BajarArchivoCMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servConsenInfCFG</servlet-name>
    <servlet-class>gob.sct.medprev.servConsenInfCFG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servDecSalud</servlet-name>
    <servlet-class>gob.sct.medprev.servDecSalud</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>servDiabetesCFG</servlet-name>
    <servlet-class>gob.sct.medprev.servDiabetesCFG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servDownFoto</servlet-name>
    <servlet-class>gob.sct.medprev.servDownFotoCFG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servUpCroma</servlet-name>
    <servlet-class>gob.sct.medprev.servUpCromaCFG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servUpCroma2</servlet-name>
    <servlet-class>gob.sct.medprev.servUpCromaCFG2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servUpFoto</servlet-name>
    <servlet-class>gob.sct.medprev.servUpFotoCFG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servUpRadox</servlet-name>
    <servlet-class>gob.sct.medprev.servUpRadoxCFG</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upInfoCroma01</servlet-name>
    <servlet-class>gob.sct.medprev.upInfoCroma01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DictamenServlet</servlet-name>
    <jsp-file>DictamenPDF.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>servCtrUpXLS</servlet-name>
    <servlet-class>gob.sct.medprev.servCtrUpXLS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servCholestechUpXLS</servlet-name>
    <servlet-class>gob.sct.medprev.servCholestechUpXLS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servDaytonaLabAnalisisClinicoUpXLS</servlet-name>
    <servlet-class>gob.sct.medprev.servDaytonaLabAnalisisClinicoUpXLS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BarcodeServlet</servlet-name>
    <servlet-class>org.krysalis.barcode4j.servlet.BarcodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BarcodeErrorServlet</servlet-name>
    <servlet-class>gob.sct.medprev.msc.BarcodeErrorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg070306011</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg070306011</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg0703060110</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg0703060110</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg070306021</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg070306021</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg0703060100</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg0703060100</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg0703060140</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg0703060140</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Resultados</servlet-name>
    <servlet-class>gob.sct.medprev.Resultados</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg0703060120</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg0703060120</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg0703060130</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg0703060130</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servXLSpg0703060150</servlet-name>
    <servlet-class>gob.sct.medprev.servXLSpg0703060150</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servConsenInfCFG</servlet-name>
    <url-pattern>/servConsenInfCFG</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>servDecSalud</servlet-name>
    <url-pattern>/servDecSalud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servDiabetesCFG</servlet-name>
    <url-pattern>/servDiabetesCFG</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servDownFoto</servlet-name>
    <url-pattern>/servDownFoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpCroma</servlet-name>
    <url-pattern>/servUpCroma</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpCroma2</servlet-name>
    <url-pattern>/servUpCroma2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpFoto</servlet-name>
    <url-pattern>/servUpFoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpRadox</servlet-name>
    <url-pattern>/servUpRadox</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upInfoCroma01</servlet-name>
    <url-pattern>/upInfoCroma01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DictamenServlet</servlet-name>
    <url-pattern>/Dictamen.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servCtrUpXLS</servlet-name>
    <url-pattern>/servCtrUpXLS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servCholestechUpXLS</servlet-name>
    <url-pattern>/servCholestechUpXLS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servDaytonaLabAnalisisClinicoUpXLS</servlet-name>
    <url-pattern>/servDaytonaLabAnalisisClinicoUpXLS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarcodeServlet</servlet-name>
    <url-pattern>/gensvg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarcodeServlet</servlet-name>
    <url-pattern>/genbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarcodeErrorServlet</servlet-name>
    <url-pattern>/errsvg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpCroma</servlet-name>
    <url-pattern>/servUpCroma</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpCroma2</servlet-name>
    <url-pattern>/servUpCroma2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpFoto</servlet-name>
    <url-pattern>/servUpFoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpRadox</servlet-name>
    <url-pattern>/servUpRadox</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upInfoCroma01</servlet-name>
    <url-pattern>/upInfoCroma01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DictamenServlet</servlet-name>
    <url-pattern>/Dictamen.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servCtrUpXLS</servlet-name>
    <url-pattern>/servCtrUpXLS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servCholestechUpXLS</servlet-name>
    <url-pattern>/servCholestechUpXLS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servDaytonaLabAnalisisClinicoUpXLS</servlet-name>
    <url-pattern>/servDaytonaLabAnalisisClinicoUpXLS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarcodeServlet</servlet-name>
    <url-pattern>/gensvg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarcodeServlet</servlet-name>
    <url-pattern>/genbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarcodeErrorServlet</servlet-name>
    <url-pattern>/errsvg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg070306011</servlet-name>
    <url-pattern>/servXLSpg070306011</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg0703060110</servlet-name>
    <url-pattern>/servXLSpg0703060110</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg070306021</servlet-name>
    <url-pattern>/servXLSpg070306021</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg0703060100</servlet-name>
    <url-pattern>/servXLSpg0703060100</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg0703060140</servlet-name>
    <url-pattern>/servXLSpg0703060140</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Resultados</servlet-name>
    <url-pattern>/Resultados</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg0703060120</servlet-name>
    <url-pattern>/servXLSpg0703060120</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg0703060130</servlet-name>
    <url-pattern>/servXLSpg0703060130</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servXLSpg0703060150</servlet-name>
    <url-pattern>/servXLSpg0703060150</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostrarArchivoServlet</servlet-name>
    <servlet-class>gob.sct.medprev.cntmgr.placas.MostrarArchivoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servUpCIS</servlet-name>
    <servlet-class>gob.sct.medprev.servUpCIS</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>DownloadFoto</display-name>
    <servlet-name>DownloadFoto</servlet-name>
    <servlet-class>gob.sct.medprev.dao.DownloadFoto</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>ObtenPropiedades</display-name>
    <servlet-name>ObtenPropiedades</servlet-name>
    <servlet-class>gob.sct.medprev.util.ObtenPropiedades</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>BajarHuellaBMPconINoDocto</display-name>
    <servlet-name>BajarHuellaBMPconINoDocto</servlet-name>
    <servlet-class>gob.sct.medprev.cntmgr.BajarHuellaBMPconINoDocto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministradorContenidosServlet</servlet-name>
    <url-pattern>/AdministradorContenidosServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AdministradorContenidosServletAvatar</servlet-name>
    <url-pattern>/AdministradorContenidosServletAvatar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdministradorContenidosServletServicios</servlet-name>
    <url-pattern>/AdministradorContenidosServletServicios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdministradorContenidosServletVoucher</servlet-name>
    <url-pattern>/AdministradorContenidosServletVoucher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MostrarArchivoServlet</servlet-name>
    <url-pattern>/MostrarArchivoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servUpCIS</servlet-name>
    <url-pattern>/servUpCIS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BajarArchivoCMServlet</servlet-name>
    <url-pattern>/BajarArchivoCMServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFoto</servlet-name>
    <url-pattern>/DownloadFoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ObtenPropiedades</servlet-name>
    <url-pattern>/ObtenPropiedades</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BajarHuellaBMPconINoDocto</servlet-name>
    <url-pattern>/BajarHuellaBMPconINoDocto</url-pattern>
  </servlet-mapping>
  <!-- <session-config>
    <session-timeout>6000</session-timeout>
  </session-config> -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
</web-app>