body {
	margin: 0px; padding: 0px; width: 100%; text-align: center; color: rgb(102, 102, 102); line-height: 30px; font-family: "Advent Pro",georgia, arial,sans-serif; font-size: 20px; position: absolute;
}
#header {
	width: 100%; text-align: center; padding-top: 20px; font-size: 1.5em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
#header > h1 {
	padding: 20px; color: rgb(255, 151, 33); text-shadow: 2px 2px 2px #E0B17B;
}
.menu {
	background: rgb(238, 238, 238); width: 100%; height: 40px; text-align: center; line-height: 40px; position: fixed; z-index: 1000;
}
.menu a {
	color: rgb(31, 138, 224); font-weight: normal; text-decoration: none; margin-right: 30px;
}
.menu a:visited {
	color: rgb(31, 138, 224); font-weight: normal; text-decoration: none; margin-right: 30px;
}
.menu a:hover {
	border-bottom-color: rgb(255, 150, 236); border-bottom-width: 1px; border-bottom-style: solid;
}
#container {
	margin: auto; width: 960px; text-align: left;
}
.effect-container {
	width: 100%; text-align: center; padding-top: 10px; padding-bottom: 10px; float: left;
}
.effect-container .img-style {
	margin: 7px;
}
.effect-details {
	color: rgb(102, 102, 102); font-family: "Advent Pro", sans-serif; font-size: 20px;
}
hr {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(204, 204, 204); width: 100%; margin-top: 40px; margin-bottom: 40px;
}
.code {
	background: rgb(255, 245, 237); padding: 10px; border: 1px solid rgb(237, 138, 52); color: rgb(120, 18, 59); font-family: monospace; font-size: 14px; margin-top: 10px; margin-bottom: 10px; display: block;
}
.button {
	background: rgb(255, 93, 177); margin: 0px 2px 20px 0px; padding: 15px 25px; border-radius: 5px; border: 1px solid rgb(239, 2, 81); left: 0px; top: 0px; width: auto; color: rgb(255, 255, 255); line-height: 100%; overflow: visible; font-size: 1.3em; font-weight: normal; text-decoration: none; vertical-align: middle; display: inline-block; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 ); position: relative; cursor: pointer; zoom: 1; box-sizing: border-box; text-shadow: 0 -1px 0 #EF0251; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.button:hover {
	background: rgb(255, 169, 213); border: 1px solid rgb(239, 2, 81); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa9d5', endColorstr='#fe70b9',GradientType=0 ); text-shadow: 0 1px 0 #EF0251;
}
.browser-img {
	margin: 10px; width: 125px;
}
